* @City-of-Helsinki/django-react-ratkaisutoimisto
.github/workflow-test-fixtures/django-api/ @City-of-Helsinki/ratkaisutoimiston-backend
.github/workflow-test-fixtures/django-api-uv/ @City-of-Helsinki/ratkaisutoimiston-backend
